@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@mixin s15w700 {
  font-size: 15px;
  font-weight: 700;
}
@mixin s14w400 {
  font-size: 14px;
  font-weight: 400;
}
@mixin s20w600 {
  font-size: 20px;
  font-weight: 600;
}
@mixin C-orange {
  color: #f28123;
}
@mixin Bc-orange {
  background-color: #f28123;
}
@mixin C-grey {
  color: #555555;
}
$mobile-landscape: 568px;
$tablet: 992px;
$desktop: 992px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: #{$mobile-landscape}) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: #{$tablet}) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: #{$desktop}) {
      @content;
    }
  }
}

.hidden {
  display: none !important;
}
.slide {
  display: none;
}

.slide.active {
  display: block;
}
.show {
  width: 200px !important;
  @include respond-to("mobile") {
    width: 150px !important;
  }
  opacity: 1 !important;
  display: flex;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}

.navbars {
  width: 100%;
  position: fixed;
  z-index: 1000;
  .navbar {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    width: 100%;
    padding: 25px 0;
    a {
      padding: 15px;
      background: none;
      border: none;
      @include s15w700();
      color: white;
    }
    :hover {
      color: #f28123;
    }
    .navbar-left {
      a {
        img {
          width: 150px;
          height: 43px;
        }
      }
    }
    .navbar-center {
      @include respond-to(mobile) {
        display: none;
      }
      @include respond-to(tablet) {
        display: none;
      }
      display: flex;
      align-items: center;
      .main-menu {
        display: flex;
        .navbar-active_btn {
          color: #f28123;
        }
        .shop-sub-menu {
          color: white;
        }
        :hover {
          .sub-menu {
            display: block;
          }
        }
        .sub-menu {
          padding: 15px 0 15px 5px;
          position: absolute;
          min-width: 60px;
          display: none;
          background-color: white;
          border-radius: 4px;
          a {
            color: black;
          }
          :hover {
            color: #f28123;
          }
        }
      }
    }
    .navbar-right {
      color: #f28123;
      display: flex;
      button {
        padding: 15px;
        background: none;
        border: none;
        color: white;
      }
      .input-box {
        width: 0;
        opacity: 0;
        transition: width 0.5s ease, opacity 0.5s ease;
        input {
          width: 100%;
          padding: 10px;
          box-sizing: border-box;
        }
      }
      @include respond-to(mobile) {
        a {
          display: none;
        }
      }
      @include respond-to(tablet) {
        a {
          display: none;
        }
      }
      .menu-list-mobil_table {
        display: none;
        @include respond-to(mobile) {
          display: block;
        }
        @include respond-to(tablet) {
          display: block;
        }
      }
    }
  }
  .navbar-mobile_tablet {
    margin: auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    ul {
      max-width: 150px;
      margin: 0 0 0 auto;
      li {
        border-bottom: 1px solid #555555;
        background-color: #012738;
        padding: 7px 0 7px 35px;
        .submenu-btn {
          display: flex;
          justify-content: space-between;
          button {
            background: none;
            color: white;
            border: none;
            font-size: 20px;
          }
        }
        a {
          color: white;
          @include s14w400();
        }
        .submenu-mobile_tablet {
          li {
            padding: 7px 35px;
            border: none;
          }
        }
      }
    }
  }
}
