@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.hidden {
  display: none !important;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.show {
  width: 200px !important;
  opacity: 1 !important;
  display: flex;
  align-items: center;
}
@media (max-width: 568px) {
  .show {
    width: 150px !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

#navbars {
  width: 100%;
  position: fixed;
  z-index: 1000;
}
#navbars .navbar {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
  width: 100%;
  padding: 25px 0;
}
#navbars .navbar a {
  padding: 15px;
  background: none;
  border: none;
  font-size: 15px;
  font-weight: 700;
  color: white;
}
#navbars .navbar :hover {
  color: #f28123;
}
#navbars .navbar .navbar-left a img {
  width: 150px;
  height: 43px;
}
#navbars .navbar .navbar-center {
  display: flex;
  align-items: center;
}
@media (max-width: 568px) {
  #navbars .navbar .navbar-center {
    display: none;
  }
}
@media (max-width: 992px) {
  #navbars .navbar .navbar-center {
    display: none;
  }
}
#navbars .navbar .navbar-center .main-menu {
  display: flex;
}
#navbars .navbar .navbar-center .main-menu .navbar-active_btn {
  color: #f28123;
}
#navbars .navbar .navbar-center .main-menu .shop-sub-menu {
  color: white;
}
#navbars .navbar .navbar-center .main-menu :hover .sub-menu {
  display: block;
}
#navbars .navbar .navbar-center .main-menu .sub-menu {
  padding: 15px 0 15px 5px;
  position: absolute;
  min-width: 60px;
  display: none;
  background-color: white;
  border-radius: 4px;
}
#navbars .navbar .navbar-center .main-menu .sub-menu a {
  color: black;
}
#navbars .navbar .navbar-center .main-menu .sub-menu :hover {
  color: #f28123;
}
#navbars .navbar .navbar-right {
  color: #f28123;
  display: flex;
}
#navbars .navbar .navbar-right button {
  padding: 15px;
  background: none;
  border: none;
  color: white;
}
#navbars .navbar .navbar-right .input-box {
  width: 0;
  opacity: 0;
  transition: width 0.5s ease, opacity 0.5s ease;
}
#navbars .navbar .navbar-right .input-box input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
@media (max-width: 568px) {
  #navbars .navbar .navbar-right a {
    display: none;
  }
}
@media (max-width: 992px) {
  #navbars .navbar .navbar-right a {
    display: none;
  }
}
#navbars .navbar .navbar-right .menu-list-mobil_table {
  display: none;
}
@media (max-width: 568px) {
  #navbars .navbar .navbar-right .menu-list-mobil_table {
    display: block;
  }
}
@media (max-width: 992px) {
  #navbars .navbar .navbar-right .menu-list-mobil_table {
    display: block;
  }
}
#navbars .navbar-mobile_tablet {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
}
#navbars .navbar-mobile_tablet ul {
  max-width: 150px;
  margin: 0 0 0 auto;
}
#navbars .navbar-mobile_tablet ul li {
  border-bottom: 1px solid #555555;
  background-color: #012738;
  padding: 7px 0 7px 35px;
}
#navbars .navbar-mobile_tablet ul li .submenu-btn {
  display: flex;
  justify-content: space-between;
}
#navbars .navbar-mobile_tablet ul li .submenu-btn button {
  background: none;
  color: white;
  border: none;
  font-size: 20px;
}
#navbars .navbar-mobile_tablet ul li a {
  color: white;
  font-size: 14px;
  font-weight: 400;
}
#navbars .navbar-mobile_tablet ul li .submenu-mobile_tablet li {
  padding: 7px 35px;
  border: none;
}

#home {
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}
#home #home-background {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  background: linear-gradient(rgba(5, 7, 8, 0.5), rgba(5, 7, 8, 0.5)), url("../Image/Home/Homeintroduction/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#home #home-introduction {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}
@media (max-width: 992px) {
  #home #home-introduction {
    max-width: 590px;
  }
}
#home #home-introduction p {
  font-size: 15px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 7px;
  color: #f28123;
  margin-bottom: 17.5px;
}
#home #home-introduction h1 {
  font-size: 64px;
  font-weight: 700;
  color: white;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 568px) {
  #home #home-introduction h1 {
    font-size: 28px;
  }
}
#home #home-introduction .introduction-btn {
  margin-top: 35px;
}
#home #home-introduction .introduction-btn button {
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid #f28123;
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin: 0 7px;
}
@media (max-width: 568px) {
  #home #home-introduction .introduction-btn button {
    width: 100%;
    margin: 10px 0;
  }
}
#home #home-introduction .introduction-btn .left-btn {
  background-color: #f28123;
}
#home #home-introduction .introduction-btn .left-btn:hover {
  background-color: black;
  border-color: black;
}
#home #home-introduction .introduction-btn .right-btn {
  background: none;
}
#home #home-introduction .introduction-btn .right-btn:hover {
  background-color: #f28123;
}
#home #home-features {
  background-color: #f5f5f5;
  width: 100%;
  box-sizing: border-box;
  padding: 60px 0;
}
@media (max-width: 992px) {
  #home #home-features {
    padding: 15px 0px;
  }
}
@media (max-width: 568px) {
  #home #home-features {
    padding: 10px 0px !important;
  }
}
#home #home-features .features-icons {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 1200px;
}
@media (max-width: 992px) {
  #home #home-features .features-icons {
    max-width: 700px;
    flex-wrap: wrap;
    padding: 45px 30px;
  }
}
@media (max-width: 568px) {
  #home #home-features .features-icons {
    padding: 30px 20px !important;
  }
}
#home #home-features .features-icons .features-icon {
  display: flex;
}
@media (max-width: 992px) {
  #home #home-features .features-icons .features-icon {
    min-width: 40%;
    margin-bottom: 30px;
  }
}
#home #home-features .features-icons .features-icon .left-icon {
  font-size: 25px;
  color: #f28123;
  border: 2px dotted #f28123;
  padding: 15px 20px;
  border-radius: 50%;
}
#home #home-features .features-icons .features-icon .right-contennt {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#home #home-features .features-icons .features-icon .right-contennt h3 {
  font-size: 17px;
  font-weight: 700;
}
#home #home-features .features-icons .features-icon .right-contennt p {
  font-size: 14px;
  font-weight: 400;
  color: #555555;
}
#home #home-recognize_us {
  background-color: white;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}
#home #home-recognize_us .recognize_us-carousel {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  margin: auto;
}
#home #home-recognize_us .recognize_us-carousel .slide-avatar {
  width: 100%;
  display: flex;
}
#home #home-recognize_us .recognize_us-carousel .slide-avatar img {
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#home #home-recognize_us .recognize_us-carousel .slide-meta {
  text-align: center;
  margin-top: 20px;
}
#home #home-recognize_us .recognize_us-carousel .slide-meta h3 {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 17px;
}
#home #home-recognize_us .recognize_us-carousel .slide-meta h3 span {
  font-size: 14px;
  color: #051922;
  margin-top: 17px;
}
#home #home-recognize_us .recognize_us-carousel .slide-meta p {
  color: #999999;
  font-size: 17px;
  font-weight: 400;
  padding: 10px 35px 0;
}
#home #home-recognize_us .recognize_us-carousel .slide-meta .slide-meta_icon {
  margin-top: 20px;
  transform: rotate(180deg);
}
#home #home-recognize_us .recognize_us-carousel .slide-meta .slide-meta_icon span {
  color: #999999;
  font-size: 25px;
}
#home #home-advertisement {
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
#home #home-advertisement .advertisement {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 20px;
}
@media (min-width: 992px) {
  #home #home-advertisement .advertisement {
    display: flex;
    justify-content: space-evenly;
  }
}
#home #home-advertisement .advertisement .advertisement-video {
  width: 100%;
}
@media (min-width: 992px) {
  #home #home-advertisement .advertisement .advertisement-video {
    max-width: 40%;
    display: flex;
  }
}
#home #home-advertisement .advertisement .advertisement-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}
@media (min-width: 992px) {
  #home #home-advertisement .advertisement .advertisement-text {
    max-width: 40%;
    margin: 0;
  }
}
#home #home-advertisement .advertisement .advertisement-text p {
  font-size: 14px;
  font-weight: 400;
  color: #051922;
  margin-bottom: 10px;
}
#home #home-advertisement .advertisement .advertisement-text h2 {
  font-weight: 700;
  font-size: 42px;
  color: #051922;
  margin-bottom: 20px;
}
#home #home-advertisement .advertisement .advertisement-text h2 span {
  color: #f28123;
}
#home #home-advertisement .advertisement .advertisement-text a {
  width: -moz-max-content;
  width: max-content;
  margin-top: 20px;
  background-color: #f28123;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 25px;
}
#home #home-advertisement .advertisement .advertisement-text a:hover {
  background-color: #012738;
  color: #f28123;
}
#home #home-banner {
  width: 100%;
  background-image: url("../Image/Home/Banner/1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}
#home #home-banner .home-banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 1200px;
  width: 100%;
  padding: 110px 20px;
}
#home #home-banner .home-banner-text h3 {
  font-size: 50px;
  font-weight: 700px;
  color: #051922;
}
@media (max-width: 568px) {
  #home #home-banner .home-banner-text h3 {
    font-size: 30px;
  }
}
#home #home-banner .home-banner-text .banner-text-discount {
  display: flex;
  align-items: flex-end;
}
#home #home-banner .home-banner-text .banner-text-discount span {
  font-size: 24px;
  display: flex;
}
#home #home-banner .home-banner-text .banner-text-discount p {
  display: flex;
  margin: 0 10px;
  color: #f28123;
  font-size: 50px;
  font-weight: 700;
}
#home #home-banner .home-banner-text a {
  background-color: #f28123;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 25px;
  margin-top: 30px;
  width: -moz-max-content;
  width: max-content;
}
#home #home-banner .home-banner-text a:hover {
  background-color: #012738;
  color: #f28123;
}

#footer {
  width: 100%;
  background-color: #051922;
}
#footer #logo-carousel-section {
  padding: 60px 0;
  background-color: #f1f1f1;
}
#footer #logo-carousel-section .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
#footer #logo-carousel-section .container .logo-carousel {
  display: flex;
  align-items: center;
  animation: scroll 20s linear infinite;
}
#footer #logo-carousel-section .container .logo-carousel .single-logo-item {
  flex: 0 0 auto;
  margin: 0 15px;
}
#footer #logo-carousel-section .container .logo-carousel .single-logo-item img {
  width: 100%;
  height: auto;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
#footer #logo-carousel-section .container .logo-carousel .single-logo-item img:hover {
  opacity: 1;
}
@media (max-width: 568px) {
  #footer #logo-carousel-section .logo-carousel .single-logo-item {
    width: 100px;
    margin: 0 10px;
  }
  #footer #logo-carousel-section .logo-carousel .single-logo-item img {
    opacity: 1;
  }
}
@media (min-width: 569px) and (max-width: 992px) {
  #footer #logo-carousel-section .logo-carousel .single-logo-item {
    width: 150px;
    margin: 0 12px;
  }
}
@media (min-width: 993px) {
  #footer #logo-carousel-section .logo-carousel .single-logo-item {
    width: 200px;
    margin: 0 15px;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
#footer #footer-section {
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 20px;
}
#footer #footer-section .footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 130px 0;
}
#footer #footer-section .footer-top .footer-box {
  max-width: 20%;
  width: 100%;
}
@media (max-width: 992px) {
  #footer #footer-section .footer-top .footer-box {
    max-width: 45%;
    margin-top: 30px;
  }
}
@media (max-width: 568px) {
  #footer #footer-section .footer-top .footer-box {
    max-width: 100%;
    margin-top: 20px;
  }
}
#footer #footer-section .footer-top .footer-box h2 {
  margin-bottom: 20px;
  color: white;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}
#footer #footer-section .footer-top .footer-box h2 span {
  color: #f28123;
  font-weight: 900;
  font-size: 20px;
}
#footer #footer-section .footer-top .footer-box p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  opacity: 0.7;
  line-height: 1.8;
}
#footer #footer-section .footer-top .footer-box ul li {
  color: #fff;
  margin-bottom: 10px;
}
#footer #footer-section .footer-top .footer-box ul li span {
  color: #f28123 !important;
  justify-items: center;
  align-items: center;
}
#footer #footer-section .footer-top .footer-box ul li a {
  opacity: 0.7;
  background: none;
  border: none;
  color: #fff;
  opacity: 0.7;
}
#footer #footer-section .footer-top .footer-box .box-input {
  margin-top: 15px;
  align-items: center;
  justify-content: center;
}
#footer #footer-section .footer-top .footer-box .box-input input {
  padding: 10px;
  background-color: #012738;
  color: #012738;
  border: none;
}
#footer #footer-section .footer-top .footer-box .box-input button {
  padding: 10px;
  border: none;
  background-color: #012738;
  color: #f28123;
}
#footer #footer-section .footer-bottom {
  border-top: 2px solid #232a35;
  display: flex;
  justify-content: space-between;
  color: #fff;
  opacity: 0.7;
  padding: 10px 0;
}
@media (max-width: 992px) {
  #footer #footer-section .footer-bottom {
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
}
#footer #footer-section .footer-bottom ul {
  display: flex;
}
@media (max-width: 992px) {
  #footer #footer-section .footer-bottom ul {
    margin-top: 20px;
  }
}
#footer #footer-section .footer-bottom ul li {
  margin: 0 10px;
}
#footer #footer-section .footer-bottom ul li a {
  color: #fff;
  opacity: 0.7;
}/*# sourceMappingURL=style.css.map */