<section id="home-banner">
    <div class="home-banner-text">
        <h3>
            December sale is on!
            <br />
            with big <span>Discount...</span>
        </h3>
        <div class="banner-text-discount">
            <span>
                Sale!
                <br />
                Upto
            </span>
            <p>50%</p>
            <span>off</span>
        </div>
        <a href="./shop.html">Shop Now</a>
    </div>
</section>