<div class="footer-box">
    <h2>
        Subscribe
        <span>__</span>
    </h2>
    <p>Subscribe to our mailing list to get the latest updates.</p>
    @if (TempData["Successs"] != null)
    {
        <div class="alert alert-success text-center"  style="color: #ffffff;">
            @TempData["Successs"]
        </div>
    }

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger text-center" style="color: #ffffff;">
            @TempData["Error"]
        </div>
    }
   @*  <div class="box-input">

        <form asp-controller="Subscribe" asp-action="Subscribe" method="post">
            <input type="email" placeholder="Email" />
            <button><i class="bi bi-telegram"></i></button>
            @Html.AntiForgeryToken()

        </form>

    </div> *@
    <form asp-controller="Subscribe" asp-action="Subscribe" method="post" class="box-input">
        <div class="form-group">
            <input name="email" placeholder="Email address" type="email" required />
        </div>
        <button type="submit"><i class="bi bi-telegram"></i></button>
        @Html.AntiForgeryToken()
    </form>


</div>