<section id="home-features">
    <div class="features-icons">
        <div class="features-icon">
            <div class="left-icon"><i class="bi bi-truck"></i></div>
            <div class="right-contennt">
                <h3>Free Shipping</h3>
                <p>When order over $75</p>
            </div>
        </div>
        <div class="features-icon">
            <div class="left-icon"><i class="bi bi-telephone-plus"></i></div>
            <div class="right-contennt">
                <h3>24/7 Support</h3>
                <p>24/7 Support</p>
            </div>
        </div>
        <div class="features-icon">
            <div class="left-icon"><i class="bi bi-arrow-repeat"></i></div> 
            <div class="right-contennt">
                <h3>Refund</h3>
                <p>Get refund within 3 days!</p>
            </div>
        </div>
    </div>
</section>