<section id="home-recognize_us">
    <div class="recognize_us-carousel">
        <div class="slide active">
            <div class="slide-avatar">
                <img src="../Image/Home/Products/product-img-1.jpg" alt="" />
            </div>
            <div class="slide-meta">
                <h3>
                    Adil Cabbarlı
                    <span> İşsiz (pulları şüphəli) </span>
                </h3>
                <p>
                    " Sed ut perspiciatis unde omnis iste natus error veritatis et
                    quasi architecto beatae vitae dict eaque ipsa quae ab illo
                    inventore Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium "
                </p>
                <div class="slide-meta_icon">
                    <span><i class="bi bi-quote"></i></span>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="slide-avatar">
                <img src="../Image/Home/Products/product-img-2.jpg" alt="" />
            </div>
            <div class="slide-meta">
                <h3>
                    Mehman Əliyev
                    <span> İşsiz </span>
                </h3>
                <p>
                    " Sed ut perspiciatis unde omnis iste natus error veritatis et
                    quasi architecto beatae vitae dict eaque ipsa quae ab illo
                    inventore Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium "
                </p>
                <div class="slide-meta_icon">
                    <span><i class="bi bi-quote"></i></span>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="slide-avatar">
                <img src="../Image/Home/Products/product-img-3.jpg" alt="" />
            </div>
            <div class="slide-meta">
                <h3>
                    Nihat İbrahimov
                    <span> İş (qara-qura ) </span>
                </h3>
                <p>
                    " Sed ut perspiciatis unde omnis iste natus error veritatis et
                    quasi architecto beatae vitae dict eaque ipsa quae ab illo
                    inventore Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium "
                </p>
                <div class="slide-meta_icon">
                    <span><i class="bi bi-quote"></i></span>
                </div>
            </div>
        </div>
    </div>
</section>