<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Final_Project</title>
@*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Final_Project.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/Client/Css/style.css" asp-append-version="true" />
</head>
<body>

    @await Component.InvokeAsync("Header")     

        @RenderBody()
   

    @await Component.InvokeAsync("Footer")
   

   @*  <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
@*     <script src="~/js/site.js" asp-append-version="true"></script> *@

    <script src="~/Client/Js/navbar.js"></script>
    <script src="~/Client/Js/footer.js"></script>
    <script src="~/Client/Js/about.js"></script>
    <script src="~/Client/Js/shop.js"></script>
    <script src="~/Client/Js/login-register.js"></script>
    <script src="~/Client/Js/checkout.js"></script>
    <script src="~/Client/Js/home.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
