<section id="home-background"></section>
<section id="home-introduction">
    <p>Fresh & Organic</p>
    <h1>Delicious Seasonal Fruits</h1>
    <div class="introduction-btn">
        <button class="left-btn">Fruit Collection</button>
        <button class="right-btn">Contact Us</button>
    </div>
</section>